.labels input[type="text"] {
	height: 15px;
	border: 1px solid $dark-accent;
	@include alpha-attribute('background-color', rgba($main-color, 0.40), $light-shade);
	color: $dark-shade;
}

.labels * {
	// display: none;
  display: block;
}

.labels {
  width: 380px;
}

.entry-label {
  white-space: nowrap;
}
