composer.phar
vendor
config/sysvars.php
node_modules/
bower_components/
.editorconfig
gruntfile.js


## Always ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*\#
*.sass-cache

## Folders
.hg
.svn
.CVS
.idea
node_modules

# OS folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
