<header class="brandbar">
  <div class="overlay">
    <div class="brand-width">
       <a class="site-logo" href="jjpavo.github.io" type="text/html" title="Link to Author's Website">
         <img src="images/logo.png" alt="Site Logo">
       </a>
       <a class="gateway" href="gateway.html" title="My other stuff">Gateway</a>
    </div>
  </div>
</header>
