<div class="full-top-chart grid">
  <div class="chart">
    <h2 class="chart-heading">TOP 10</h2>
    <div class="top-ten-grid muuri-grid">
      <div  class="muuri-grid-item">
        <div id="entry1" class="entry muuri-grid-item-content" ondrop="drop(event)" ondragover="allowDrop(event)">

        </div>
      </div>
      <div class="muuri-grid-item">
        <div id="entry2" class="entry muuri-grid-item-content" ondrop="drop(event)" ondragover="allowDrop(event)">

        </div>
      </div>
      <div class="muuri-grid-item">
        <div id="entry3" class="entry muuri-grid-item-content" ondrop="drop(event)" ondragover="allowDrop(event)">

        </div>
      </div>
      <div class="muuri-grid-item">
        <div id="entry4" class="entry muuri-grid-item-content" ondrop="drop(event)" ondragover="allowDrop(event)">

        </div>
      </div>
      <div class="muuri-grid-item">
        <div id="entry5" class="entry muuri-grid-item-content" ondrop="drop(event)" ondragover="allowDrop(event)">

        </div>
      </div>
      <div class="muuri-grid-item">
        <div id="entry6" class="entry muuri-grid-item-content" ondrop="drop(event)" ondragover="allowDrop(event)">

        </div>
      </div>
      <div class="muuri-grid-item">
        <div id="entry7" class="entry muuri-grid-item-content" ondrop="drop(event)" ondragover="allowDrop(event)">

        </div>
      </div>
      <div class="muuri-grid-item">
        <div id="entry8" class="entry muuri-grid-item-content" ondrop="drop(event)" ondragover="allowDrop(event)">

        </div>
      </div>
      <div class="muuri-grid-item">
        <div id="entry9" class="entry muuri-grid-item-content" ondrop="drop(event)" ondragover="allowDrop(event)">

        </div>
      </div>
      <div class="muuri-grid-item">
        <div id="entry10" class="entry muuri-grid-item-content" ondrop="drop(event)" ondragover="allowDrop(event)">

        </div>
      </div>
    </div>
    <h2 class="chart-heading">Second-tier Classics</h2>
    <div class="second-tier-grid grid">
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry ondrop="drop(event)" ondragover="allowDrop(event)"">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
    </div>
    <h2 class="chart-heading">Third-tier Classics</h2>
    <div class="later-tier-grid grid">
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
    </div>
    <h2 class="chart-heading">Fourth-tier Classics</h2>
    <div class="later-tier-grid grid">
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
      <div class="entry" ondrop="drop(event)" ondragover="allowDrop(event)">

      </div>
    </div>
  </div> <!-- chart -->
  <div class="labels">
    <div class="input-row-wrap">
      <span>1</span>
      <label id="entry1-label" class="entry-label" for="entry1-input"></label>
      <input id="entry1-input" class="entry-input" type="text" data-index="1">
      <label id="entry2-label" class="entry-label" for="entry2-input"></label>
      <input id="entry2-input" class="entry-input" type="text" data-index="2">
      <label id="entry3-label" class="entry-label" for="entry3-input"></label>
      <input id="entry3-input" class="entry-input" type="text" data-index="3">
      <label id="entry4-label" class="entry-label" for="entry4-input"></label>
      <input id="entry4-input" class="entry-input" type="text" data-index="4">
      <label id="entry5-label" class="entry-label" for="entry5-input"></label>
      <input id="entry5-input" class="entry-input" type="text" data-index="5">
      <label id="entry6-label" class="entry-label" for="entry6-input"></label>
      <input id="entry6-input" class="entry-input" type="text" data-index="6">
      <label id="entry7-label" class="entry-label" for="entry7-input"></label>
      <input id="entry7-input" class="entry-input" type="text" data-index="7">
      <label id="entry8-label" class="entry-label" for="entry8-input"></label>
      <input id="entry8-input" class="entry-input" type="text" data-index="8">
      <label id="entry9-label" class="entry-label" for="entry9-input"></label>
      <input id="entry9-input" class="entry-input" type="text" data-index="9">
      <label id="entry10-label" class="entry-label" for="entry10-input"></label>
      <input id="entry10-input" class="entry-input" type="text" data-index="10">
    </div>
    <div class="input-row-wrap">
      <span>2</span>
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
    </div>
    <div class="input-row-wrap">
      <span>3</span>
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
    </div>
    <div class="input-row-wrap">
      <span>4</span>
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
    </div>
    <div class="input-row-wrap">
      <span>5</span>
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
    </div>
    <div class="input-row-wrap">
      <span>6</span>
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
    </div>
    <div class="input-row-wrap">
      <span>7</span>
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
    </div>
    <div class="input-row-wrap">
      <span>7</span>
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
    </div>
    <div class="input-row-wrap">
      <span>8</span>
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
    </div>
    <div class="input-row-wrap">
      <span>9</span>
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
    </div>
    <div class="input-row-wrap">
      <span>10</span>
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
    </div>
    <div class="input-row-wrap">
      <span>11</span>
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
    </div>
    <div class="input-row-wrap">
      <span>12</span>
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
    </div>
    <div class="input-row-wrap">
      <span>13</span>
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
    </div>
    <div class="input-row-wrap">
      <span>14</span>
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
    </div>
    <div class="input-row-wrap">
      <span>15</span>
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
    </div>
    <div class="input-row-wrap">
      <span>16</span>
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
    </div>
    <div class="input-row-wrap">
      <span>17</span>
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
    </div>
    <div class="input-row-wrap">
      <span>18</span>
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
    </div>
    <div class="input-row-wrap">
      <span>19</span>
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
    </div>
    <div class="input-row-wrap">
      <span>20</span>
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
    </div>
  </div>
</div>
